<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--  <meta charset="ISO-8859-1">-->
 <meta charset="utf-8">
<title>PRUEBA TECNICA AVLA</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/home">PRUEBA TECNICA AVLA</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item "><a class="nav-link" href="/home">Home
						<span class="sr-only"></span>
				</a></li>
				<li class="nav-item dropdown "><a
					class="nav-link dropdown-toggle " href="/users/all" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Users </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/users/all">All Users</a> <a
							class="dropdown-item " href="/users/create">Create User</a> 
							
					</div>
					</li>
				<li class="nav-item dropdown "><a
					class="nav-link dropdown-toggle" href="/tasks/all" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> Tasks </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/tasks/all">All tasks</a> <a
							class="dropdown-item " href="/tasks/create">Create task</a> 
							
					</div></li>
			</ul>

		</div>
	</nav>
	
	<h1>Users</h1>
		<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Username</th>
				<th scope="col">Email</th>
				<th scope="col">Role</th>
				<th scope ="col">Tasks</th>	
				<th scope ="col">Delete</th>	
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="list:${userList}">
				<th th:text="${list.id}"></th>
				<th th:text="${list.name}"></th>
				<th th:text="${list.username}"></th>
				<th th:text="${list.email}"></th>
				<th th:text="${list.roles}"></th>
				<th><a class="btn btn-primary"  th:href="@{/tasks/{id}(id = ${list.id})}">Tasks</a></th>	
				<th>
					<form th:action="@{/users/delete/}+${list.id}" method="post">
						<button  type="submit" class="btn btn-primary" >Delete User</button>
					</form>
				</th>	
			</tr>
		</tbody>
	</table>
</body>
</html>